
.bod{
  display: grid;
  grid-template-columns: 1.5fr 1fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 5px;
  grid-template-areas:
  "fr a i "
  "p p p";

  position: grid;
  grid-area: f;



  margin-right: 4px;
}
.frend{

  border: 5px solid white;
  max-height: 100%;
}
