
.bod{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 5px;
  grid-template-areas:
  "a i fr "
  "p p p";

  position: grid;
  grid-area: f;



  margin-right: 4px;
}
.frend{

  background-color: rgb(255,255,255, 0.4);
  padding: 5px;
  border-radius: 15px;
  max-height: 100%;
}
