.inf{
  grid-area: i;
  position:grid;
   background-color: white;
   background-size: auto;
   border-radius: 5px;

    background-color: rgb(255,255,255, 0.4);
    padding: 5px;
}
.header_info {
  text-align: center;
  background-color: white;
  margin: -5px;
  margin-bottom: 2px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
