.mai{
  grid-area: m;
  background-color: rgb(255,255,255, 0.7);
  
  border-radius: 15px;
  margin-left: 4px;
  padding: 20px;
}

.link {
  opacity: 0.5;
  text-decoration: none;
  margin-bottom: 5px;
}
.link:hover {
  opacity: 1;
  text-decoration: none;
}
.link_inner:hover {
  text-decoration: none;
}
