.post{

  float: left;
  width: 100%;
  height: auto;
 padding: 13px;
  background-color: white;
  min-height: 100px;
  border-radius: 15px;
  margin: 2px 0px;
  overflow-wrap: break-word;  /* не поддерживает IE, Firefox; является копией word-wrap */
 word-wrap: break-word;
}
.post img{
border-radius: 50px;

}
.post_header_img{
    float: left;
}
.post_header{

width: 100%;
}
.post_body{
  width: 100%;
  float: left;
  margin-top: 10px;
}
.post_header_info{

  float: left;
}
.like{
  margin: 15px 0px 0px 0px;
  float: right;

}
.name_inner{
  float: left;
  width: 100%;
}
.post_date{
  float: left;
}
.post_header_info{
  margin: 0px 10px;
}
