.head{
  grid-area: h;
  position: fixed;
  background-color: white;
  z-index: 100;
  width: 100%;

}
.login {
float:left;

margin: 0px;
}
.login_img {
    border-radius: 50px;
    float: left;
    width: 40px;
}