.bod {
    grid-area: fr;




}

.header_info {
  text-align: center;
  background-color: white;
  margin: -5px;
  margin-bottom: 2px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
