.fullscreen-bg {
  overflow: hidden;
  z-index: -100;
  position: relative;
  height: 100%;
  width: 100%;
  padding-top:45%;
}

.fullscreen-bg__video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay  {
  text-align:center;
  color:#fff;
  font-size: 70px;
  margin-top:226px;
  background: rgb(0,0,0, 0.8)
}
.pattern2 {
  position: absolute;
  background-image: repeating-linear-gradient(-45deg, white, white 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
  z-index: 1;
  width: 955px;
  height: 536px;
}
html{
  font-family: Tahoma;
}
a {
  color: black !important;
}
li {
  list-style-type: none; /* Убираем маркеры */
}
ul {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.form-control{
  border-radius: 12px ;
}

.navbar-brand{
  opacity: 0.5;
  padding: 0px !important;
  margin-left: 32px;
  margin-right: 40px!important;
}
.App {
  background-color: #b7bcca;
  display: grid;
  grid-template-columns: auto 0.7fr 4fr auto;
  grid-template-rows: 55px 600px auto;

  grid-template-areas:
  ". . . ."
  ". m r ."
  ". m r .";

  grid-gap: 5px;


}
.route_content{
  position: grid;
  grid-area: r;
}

.content{
  margin-left: auto;
  margin-right: auto;
  width: 1137px;

}

.back{
  background-color: #b7bcca;
  min-height: 1072px;
}

.navbar-brand{
  float: left;
}

.collapse .navbar-collapse {
  float: left;
}

.form-inline{
  float: left;
}
