.ava{
  grid-area: a;
  border-radius: 15px;
  background-color: white;
}
.ava img{
  width: 300px;
  padding: 5px;
  border-radius: 15px;
}
.name{
  text-align: center;
  font-weight: bold;
  width: 100%;
  border-radius: 15px;
  background-color: white;
}
