.ava{
  grid-area: a;
  border-radius: 5px;
  background-color: white;
  background-color: rgb(255,255,255, 0.4);
}
.ava img{
  padding: 5px;
  width: 100%;

  border-radius: 10px;

}
.name{
  text-align: left;
  padding: 0px 10px;
  font-weight: bold;

  background-color: white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}
.aboutMe{
  padding: 8px;
  height: 45px;
}
.aboutMe li{
padding: 2px;
  }
.aboutMe li:hover{
background-color: #bcbfc7;
}


.button_status {
  width: 27px;
    padding: 1px 0px;
    border-radius: 10px;
    border-style: none;
} 
.input {
  width: 67%;
  padding: 1px 0px;

  border-style: none;
  border-radius: 10px;
}