.ava{
  grid-area: a;
  border-radius: 15px;
  background-color: white;
  background-color: rgb(255,255,255, 0.4);
}
.ava img{
  width: auto;
  height: 500px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.name{
  text-align: center;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}
