.body{
  grid-area: p;
  margin-bottom: 5px;
  float: left;
  background-color: white;
  width: 102%;
  border-radius: 15px;
}
.body img{
width: 45px;
border-radius: 50px;
margin: 11px;
float: left;
}
.header{
  float: left;
}
